body{
    background-image: url("../images/dex-background.jpg");
    background-size: 100%;
    background-repeat: center;
    color: darkgoldenrod;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
}

.h1{
    font-size: 0rem;
}

.myTitle{
    background-color:rgba(27, 27, 27, 0.8);
    text-align: center;
    color: darkgoldenrod;
    width:100%;
    text-decoration: underline;
    
    
}