body{
    background-image: url("../images/dex-background.jpg");
    background-size: 100%;
    background-repeat: center;
    color: darkgoldenrod;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    padding-bottom: 10px;
}



.h1{
    font-size: 0rem;
}

.myTitle{
    background-color:rgba(27, 27, 27, 0.8);
    text-align: center;
    color: darkgoldenrod;
    width:100%;
    text-decoration: underline;
    
}

.card{
    background-color: black;
}

.choice{
    border: 1px solid black;
    padding:10px;
    background-color: rgba(168, 127, 13, 0.5) ;
    color: rgb(192, 192, 192);
    
}

#game{
    color: rgb(192, 192, 192);
    background-color: rgba(168, 168, 168, 0.2) ;
    
}

#time{
    font-size: 24px;;
    
    
}

.container{
    background-color:rgba(27, 27, 27, 0.8);
}

#reset{
    color: darkgoldenrod;
}

/*.col-4{ 
    background-image: url("../images/lichking.gif");
}*/




